body {
    font-family: arial, sans-serif;
    font-size: 2.5vmin;
}

.notebookpage {
    height: 90vh;
    padding: 2.5vh;
}

.notebooktab {
    width: 6%;
}

#intro_tab {
    width: 10%;
}

textarea {
    display: block;
    width: 90%;
    height: 100%;
    margin: auto;
}


