html {
    font-family: arial, sans-serif;
    font-size: calc(8px + 0.6vw);
}

body {
    margin: 0px;
}

.notebookpage {
    height: 90vh;
    padding: 2.5vh 2.5vw;
}

.notebooktab {
    width: 6%;
}

@media only screen and (max-width: 1023px) {
    .notebooktab {
        width: 12%;
    }
}
#intro {
    overflow: hidden;
    padding-right: 0px;
}

#introtext {
    height: 100%;
    overflow: auto;
    padding-right: 2.5vh;
}

textarea {
    display: block;
    width: 90%;
    height: 100%;
    margin: auto;
}

h1 {
    margin: 0px;
}


